    <div class="row">
        <div class="col-lg-12 ">

                <div class="row">
                    <div class="col-lg-8">
                        <section class="panel">
                            <header class="panel-heading " style="background-color: #449d44;">
                                <b style="color: #ffffff">{{ _('AVAILABLE COUNTRIES') }}</b>
                            </header>
                            <div class="panel-body" align="center">
                                {% if snippetVars.newcountryproject == True %}
                                    <div class="alert alert-success fade in">
                                        <button data-dismiss="alert" class="close close-sm" type="button">
                                            <i class="fa fa-times"></i>
                                        </button>
                                        <strong>{{ _('Success!') }}</strong> {{ _('The new country has been added.') }}
                                    </div>
                                {% endif %}

                                {% if snippetVars.contactcountryEdited == True %}
                                    <div class="alert alert-success fade in">
                                        <button data-dismiss="alert" class="close close-sm" type="button">
                                            <i class="fa fa-times"></i>
                                        </button>
                                        <strong>{{ _('Success!') }}</strong> {{ _('The contact has been edited correctly.') }}
                                    </div>
                                {% endif %}

                                {% if snippetVars.projectcountryDelete == True %}
                                    <div class="alert alert-success fade in">
                                        <button data-dismiss="alert" class="close close-sm" type="button">
                                            <i class="fa fa-times"></i>
                                        </button>
                                        <strong>{{ _('Success!') }}</strong> {{ _('The country has been removed from the project.') }}
                                    </div>
                                {% endif %}
                                <div style="float: right;overflow: hidden">
                                    <button id="addnewproject" class="btn btn-success" onclick="addCountry()">{{ _('Add new country') }} <i class="fa fa-plus"></i></button>
                                </div>
                                <br><br><br>
                                {% if snippetVars.PrjCnty %}
                                    <table class="display  table-bordered table-striped fc-grid " style="width: 95%">
                                        <tr>
                                            <th>
                                                {{ _("List of countries in this project") }}
                                            </th>
                                        </tr>


                                        {% for contact in  snippetVars.PrjCnty %}
                                            <tr>
                                                <td>
                                                    <table style="width: 95%; height: 55px; margin-top: 5px"
                                                           align="center">
                                                        <tr>
                                                            <td>
                                                                <img class="logo img-responsive"
                                                                     src="{{ snippetVars.request.static_url('climmob3:static/country-flags/'+ contact.cnty_cod +'.png') }} "
                                                                     alt="country">
                                                            </td>
                                                            <td style="float: right">
                                                                <button class="btn btn-danger btn-xs"
                                                                        title="{{ _('Delete technology') }}"
                                                                        onclick="showDeleteCountry('{{ contact.cnty_cod }}')">
                                                                    <i class="fa fa-trash-o "></i></button>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                {{ contact.cnty_contact }}
                                                            </td>
                                                            <td style="float: right">
                                                                <button class="btn btn-warning btn-xs"
                                                                        title="{{ _('Edit technology') }}"
                                                                        onclick="showModifyContactCountry('{{ contact.cnty_cod }}','{{ contact.cnty_contact }}')">
                                                                    <i class="fa fa-pencil"></i></button>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                {% endif %}

                            </div>
                        </section>
                    </div>

                </div>
        </div>
    </div>





    <div class="modal fade" id="AddCountry" tabindex="-1" role="dialog" aria-labelledby="AddCountryLabel"
         aria-hidden="true">
        <form class="form-horizontal" role="form" method="post" action="{{ snippetVars.request.route_url('prjcnty',projectid = snippetVars.projectid) }}">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header modal-header-success">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">{{ _('New Country') }}</h4>
                    </div>
                    <div class="modal-body">

                        <div class="row toastr-row">
                            <div class="col-md-6">
                                <input type="text" name="txt_snippet" value="{{ snippetVars.currentLoc }}" hidden/>
                                <label>{{ _('Country') }}</label><br>
                                <select type="text" id="txt_cnty_cod" name="txt_cnty_cod" class="form-control bound-s" style="width: 300px">
                                    <option value="">{{ _('Select one country') }}</option>
                                    {% for country in snippetVars.Countries %}
                                        <option value="{{ country.cnty_cod }}" style="background:url({{ snippetVars.request.static_url('climmob3:static/country-flags/'+ country.cnty_cod +'.png') }}) no-repeat center left; padding-left:30px;">{{ country.cnty_name }}</option>
                                    {% endfor %}
                                </select>

                                <label>{{ _('Contact name') }}</label><br>
                                <input type="text" class="form-control" value="" id="txt_add_cnty" name="txt_add_cnty" placeholder=" " style="width: 300px">
                            </div>
                        </div>
                        <br>
                        <div class="modal-footer">
                            <button data-dismiss="modal" class="btn btn-default"
                                    type="button">{{ _('Cancel') }}</button>
                            <button class="btn btn-success" type="submit"
                                    name="btn_add_country"> {{ _('Add') }}</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    {% if snippetVars.error_summary %}
        <div class="modal fade" id="AddCountryE" tabindex="-1" role="dialog" aria-labelledby="AddCountryLabel"
             aria-hidden="true">
            <form class="form-horizontal" role="form" method="post" action="{{ snippetVars.request.route_url('prjcnty',projectid = snippetVars.projectid) }}">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header modal-header-success">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">{{ _('New Country') }}</h4>
                        </div>
                        <div class="modal-body">

                            {% if snippetVars.error_summary %}
                                {% for key, error in snippetVars.error_summary.items() %}
                                    <div class="alert alert-block alert-danger fade in" id="loginErrorMessage">
                                        <button id="{{ key }}" data-dismiss="alert" class="close close-sm"
                                                type="button">
                                            <i class="fa fa-times"></i>
                                        </button>
                                        <strong>{{ _("Error!") }}</strong> {{ error }}.
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <input type="text" name="txt_snippet" value="{{ snippetVars.currentLoc }}" hidden/>
                            <label>{{ _('Country') }}</label><br>
                                <select type="text" id="txt_cnty_codE" name="txt_cnty_cod" class="form-control bound-s" style="width: 300px">
                                    <option value="">{{ _('Select one country') }}</option>
                                    {% for country in snippetVars.Countries %}
                                        <option {% if snippetVars.dataworking.cnty_cod == country.cnty_cod %}selected{% endif %} value="{{ country.cnty_cod }}" style="background:url({{ snippetVars.request.static_url('climmob3:static/country-flags/'+ country.cnty_cod +'.png') }}) no-repeat center left; padding-left:30px;">{{ country.cnty_name }}</option>
                                    {% endfor %}
                                </select>

                            <label>{{ _('Contact name') }}</label><br>
                            <input type="text" class="form-control" value="{{ snippetVars.dataworking.cnty_contact }}" id="txt_add_cntyE" name="txt_add_cnty" placeholder=" " style="width: 300px">

                            <div class="modal-footer">
                                <button data-dismiss="modal" class="btn btn-default"
                                        type="button">{{ _('Cancel') }}</button>
                                <button class="btn btn-success" type="submit"
                                        name="btn_add_country"> {{ _('Add') }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    {% endif %}



    <!--------------------------------Modify Contact------------------------------------>

    <div class="modal fade " id="ModifyContactCountry" tabindex="-1" role="dialog"
         aria-labelledby="ModifyContactCountryLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header modal-header-update">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{{ _('Modify contact country') }}</h4>
                </div>

                <form name="ModifyContactCountryForm" role="form" method="post" action="{{ snippetVars.request.route_url('prjcnty',projectid = snippetVars.projectid) }}">
                    <div class="modal-body">
                        <div class="row toastr-row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <input type="text" name="txt_snippet" value="{{ snippetVars.currentLoc }}" hidden/>
                                    <label> {{ _('Contact name') }}</label><br>
                                    <input type="text" id="upd_cnty_cod" name="upd_cnty_cod" style="display: none;">
                                    <input class="form-control" type="input" id="txt_upd_cnty_contact"
                                           name="txt_upd_cnty_contact" value="">
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button data-dismiss="modal" class="btn btn-default" type="button">{{ _('Cancel') }}</button>
                        <button class="btn btn-warning" type="submit"
                                name="btn_modifyContactCountry">{{ _('Modify') }}</button>
                    </div>
                </form>


            </div>
        </div>
    </div>


    {% if snippetVars.error_summary %}
        <div class="modal fade " id="ModifyContactCountryE" tabindex="-1" role="dialog"
             aria-labelledby="ModifyContactCountryLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header modal-header-update">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">{{ _('Modify contact country') }}</h4>
                    </div>

                    <form name="ModifyContactCountryForm" role="form" method="post" action="{{ snippetVars.request.route_url('prjcnty',projectid = snippetVars.projectid) }}">
                        <div class="modal-body">

                            {% if snippetVars.error_summary %}
                                {% for key, error in snippetVars.error_summary.items() %}
                                    <div class="alert alert-block alert-danger fade in" id="loginErrorMessage">
                                        <button id="{{ key }}" data-dismiss="alert" class="close close-sm"
                                                type="button">
                                            <i class="fa fa-times"></i>
                                        </button>
                                        <strong>{{ _("Error!") }}</strong> {{ error }}.
                                    </div>
                                {% endfor %}
                            {% endif %}

                            <div class="row toastr-row">
                                <div class="col-md-6">
                                    <input type="text" name="txt_snippet" value="{{ snippetVars.currentLoc }}" hidden/>
                                    <div class="form-group">
                                        <label> {{ _('Contact name') }}</label><br>
                                        <input type="text" id="upd_cnty_codE" name="upd_cnty_cod"
                                               value="{{ snippetVars.dataworking.cnty_cod }}" style="display: none;">
                                        <input class="form-control" type="input" id="txt_upd_cnty_contactE"
                                               name="txt_upd_cnty_contact" value="{{ snippetVars.dataworking.cnty_contact }}">
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button data-dismiss="modal" class="btn btn-default"
                                    type="button">{{ _('Cancel') }}</button>
                            <button class="btn btn-warning" type="submit"
                                    name="btn_modifyContactCountry">{{ _('Modify') }}</button>
                        </div>
                    </form>


                </div>
            </div>
        </div>
    {% endif %}

    <!--------------------------------Delete Country------------------------------------>

    <div class="modal fade " id="DeleteCountry" tabindex="-1" role="dialog" aria-labelledby="DeleteCountryLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header modal-header-delete">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{{ _('Delete country') }}</h4>
                </div>

                <form name="DeleteCountryForm" role="form" method="post" action="{{ snippetVars.request.route_url('prjcnty',projectid = snippetVars.projectid) }}">
                    <div class="modal-body">
                        <div class="row toastr-row">
                            <div class="col-md-12">
                                <input type="text" name="txt_snippet" value="{{ snippetVars.currentLoc }}" hidden/>
                                <label> {{ _('Are you sure you want to delete this country of your project ?') }}</label><br>
                                <input type="text" id="delete_cnty_cod" name="delete_cnty_cod" style="display: none;">

                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button data-dismiss="modal" class="btn btn-default" type="button">{{ _('Cancel') }}</button>
                        <button class="btn btn-danger" type="submit"
                                name="btn_deleteContactCountry">{{ _('Delete') }}</button>
                    </div>
                </form>


            </div>
        </div>
    </div>


    {% if snippetVars.error_summary %}
        <div class="modal fade " id="DeleteCountryE" tabindex="-1" role="dialog" aria-labelledby="DeleteCountryLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header modal-header-delete">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">{{ _('Delete country') }}</h4>
                    </div>

                    <form name="DeleteCountryForm" role="form" method="post" action="{{ snippetVars.request.route_url('prjcnty',projectid = snippetVars.projectid) }}">
                        <div class="modal-body">

                            {% if snippetVars.error_summary %}
                                {% for key, error in snippetVars.error_summary.items() %}
                                    <div class="alert alert-block alert-danger fade in" id="loginErrorMessage">
                                        <button id="{{ key }}" data-dismiss="alert" class="close close-sm"
                                                type="button">
                                            <i class="fa fa-times"></i>
                                        </button>
                                        <strong>{{ _("Error!") }}</strong> {{ error }}.
                                    </div>
                                {% endfor %}
                            {% endif %}

                            <div class="row toastr-row">
                                <div class="col-md-12">
                                    <input type="text" name="txt_snippet" value="{{ snippetVars.currentLoc }}" hidden/>
                                    <label> {{ _('Are you sure you want to delete this country of your project ?') }}</label><br>
                                    <input type="text" id="delete_cnty_codE" name="delete_cnty_cod"
                                           value="{{ snippetVars.dataworking.cnty_cod }}" style="display: none;">

                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button data-dismiss="modal" class="btn btn-default"
                                    type="button">{{ _('Cancel') }}</button>
                            <button class="btn btn-danger" type="submit"
                                    name="btn_modifyContactCountry">{{ _('Delete') }}</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    {% endif %}