<div class="row">

        <div class="col-lg-6">
            <section class="panel tasks-widget">
                <header class="panel-heading modal-header-delete">
                    <b style="color: #ffffff">{{ _('Available technologies') }}</b>
                </header>
                <div class="panel-body">
                    {% if snippetVars.dltTechnologyProject == True %}
                        <div class="alert alert-success fade in">
                            <button data-dismiss="alert" class="close close-sm" type="button">
                                <i class="fa fa-times"></i>
                            </button>
                            <strong>{{ _('Success!') }}</strong> {{ _('Technologies successfully removed.') }}
                        </div>
                    {% endif %}

                    {% if  snippetVars.error_summarydlt %}
                        {% for key, error in snippetVars.error_summarydlt.items() %}
                            <div class="alert alert-block alert-danger fade in" id="loginErrorMessage">
                                <button id="{{ key }}" data-dismiss="alert" class="close close-sm"
                                        type="button">
                                    <i class="fa fa-times"></i>
                                </button>
                                <strong>{{ _("Error!") }}</strong> {{ error }}.
                            </div>
                        {% endfor %}
                    {% endif %}
                    <div class="task-content">
                        <ul id="sortable_technologies_excluded" class="task-list ui-sortable">
                            {% for technologies in snippetVars.TechnologiesUser %}
                                {% if technologies.user_name == 'bioversity' %}
                                    {% set name_class = 'list-climmob' %}
                                    {% set name_bg = 'bg-climmob' %}
                                {% else %}
                                    {% set name_class = 'list-usuario' %}
                                    {% set name_bg = 'bg-usuario' %}
                                {% endif %}

                                <li class="{{ name_class }}" id="element_{{ technologies.tech_id }}_new">
                                    <i class="fa fa-exchange"></i>
                                    <div class="task-title">
                                        <span class="task-title-sp"> <b>{{ technologies.tech_name }}</b></span>
                                        <div class="pull-right ">
                                            <span class="badge {{ name_bg }} fa fa-pagelines">{% if technologies.user_name == 'bioversity' %} {{ _('ClimMob library') }} {% else %} {{ _('User library') }} {% endif %}</span>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class=" add-task-row">
                    </div>
                </div>
            </section>
        </div>

        <div class="col-lg-6">
            <section class="panel tasks-widget">
                <header class="panel-heading" style="background-color: #449d44;">
                    <b style="color: #ffffff">{{ _('Technologies included') }}</b>
                </header>
                <div class="panel-body">


                    {% if snippetVars.newTechnologyProject == True %}
                        <div class="alert alert-success fade in">
                            <button data-dismiss="alert" class="close close-sm" type="button">
                                <i class="fa fa-times"></i>
                            </button>
                            <strong>{{ _('Success!') }}</strong> {{ _('Technologies successfully added.') }}
                        </div>
                    {% endif %}

                    {% if snippetVars.error_summaryadd %}
                        {% for key, error in snippetVars.error_summaryadd.items() %}
                            <div class="alert alert-block alert-danger fade in" id="loginErrorMessage">
                                <button id="{{ key }}" data-dismiss="alert" class="close close-sm"
                                        type="button">
                                    <i class="fa fa-times"></i>
                                </button>
                                <strong>{{ _("Error!") }}</strong> {{ error }}.
                            </div>
                        {% endfor %}
                    {% endif %}

                    <div class="alert alert-block alert-danger fade in" id="ErrorSortable" style="display: none;">

                        <button id="{{ key }}" data-dismiss="alert" class="close close-sm" type="button"><i class="fa fa-times"></i></button>

                        <strong>{{ _("Error!") }}</strong> {{ _("You can only have three technologies or less.") }}.
                    </div>
                    <div class="task-content">
                        <ul id="sortable_technologies_included" class="task-list ui-sortable ">
                            {% for technologies in snippetVars.TechnologiesInProject %}

                                {% if technologies.user_name == 'bioversity' %}
                                    {% set name_class = 'list-climmob' %}
                                    {% set name_bg = 'bg-climmob' %}
                                {% else %}
                                    {% set name_class = 'list-usuario' %}
                                    {% set name_bg = 'bg-usuario' %}
                                {% endif %}

                                <li class="{{ name_class }}"
                                    id="element_{{ technologies.tech_id }}_exist">
                                    <i class="fa fa-exchange"></i>
                                    <div class="task-title">
                                        <span class="task-title-sp"> <b>{{ technologies.tech_name }}</b></span>
                                        <div class="pull-right ">
                                            {% if technologies.quantity < 1 %}
                                                <span title="{{ _('Number of alias') }}"
                                                      class="label label-danger ">{{ technologies.quantity }}</span>
                                            {% else %}
                                                <span title="{{ _('Number of alias') }}"
                                                      class="label label-success ">{{ technologies.quantity }}</span>
                                            {% endif %}
                                            <span class="badge {{ name_bg }} fa fa-list-ul spandeletealias" onclick="location.href='{{ snippetVars.request.route_url('prjtechalias',projectid = technologies.project_cod, tech_id = technologies.tech_id) }}'"> {{ _('Add alias') }}</span>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <form class="form-horizontal" role="form" method="post" action="{{ snippetVars.request.route_url('prjtech',projectid= snippetVars.projectid) }}">
                            <input type="text" name="txt_snippet" value="{{ snippetVars.currentLoc }}" hidden/>
                            <input type="text" id="txt_technologies_included"
                                   name="txt_technologies_included" style="width: 100%;display:none">
                            <br>
                            <input type="text" id="txt_technologies_excluded"
                                   name="txt_technologies_excluded" style="width: 100%; display: none">
                            <button data-dismiss="modal" class="btn btn-default" name="btn_cancel"
                                    type="submit">{{ _('Cancel') }}</button>
                            <button class="btn btn-success" type="submit" name="btn_save_technologies"> {{ _('Save') }}</button>
                        </form>
                    </div>
                </div>
            </section>
        </div>


    </div>