{% extends "../page.html" %}

{%- block leftside_menu %}
      {% if activeUser %}
          {% snippet 'snippets/navbar.html', request=request, active="" %}
      {% endif %}
{% endblock leftside_menu -%}

{%- block page_content %}
    <div class="row">
        <aside class="profile-nav col-lg-3">
            <section class="panel">
                <div class="user-heading round">
                    <a href="{{ request.route_url('userinfo',userid=displayUser) }}">
                        <img src="{{ helpers.getGravatarFromEmail(140,userInfo.user_email) }}" alt="">
                    </a>
                    <h1>{{ userInfo.user_fullname }}</h1>
                    <p>{{ userInfo.user_email }}</p>
                </div>



            </section>
        </aside>
        <aside class="profile-info col-lg-9">
            <section class="panel">
                <div class="bio-graph-heading">
                    {% if userInfo.user_about == "" %}There is no information about this user. {% else %} {{ userInfo.user_about }} {% endif %}
                </div>
                <div class="panel-body bio-graph-info">
                    <h1>Bio Graph</h1>
                    <div class="row">
                        <div class="bio-row">
                            <p><span>Name </span>: {{ userInfo.user_fullname }}</p>
                        </div>
                        <div class="bio-row">
                            <p><span>Country </span>: {{ userInfo.cnty_name }}</p>
                        </div>
                        <div class="bio-row">
                            <p><span>Organisation </span>: {{ userInfo.user_organization }}</p>
                        </div>
                        <div class="bio-row">
                            <p><span>Sector </span>: {{ userInfo.sector_name }}</p>
                        </div>
                        <div class="bio-row">
                            <p><span>Email </span>: {{ userInfo.user_email }}</p>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="row state-overview">
                    <h3 class="heading_left_padding">User statistics</h3>

                    {% set stats = helpers.getPortalStats(displayUser) %}

                    <div class="col-lg-6 col-sm-6">
                        {% snippet 'snippets/counters.html', color='yellow', icon='fa-gears', value=stats.totModels, description='Models' %}
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        {% snippet 'snippets/counters.html', color='blue', icon='fa-leaf', value=stats.totFeeds, description='Feeds' %}
                    </div>
                </div>
            </section>
        </aside>
    </div>
{%- endblock page_content %}
