{% extends "../page.html" %}

{%- block leftside_menu %}
{% if activeUser %}
{% snippet 'snippets/navbar.html', request=request, active="Dash" %}
{% endif %}
{% endblock leftside_menu -%}

{%- block page_content %}


<!-- page start-->
<div class="row ">

    <div class="col-sm-12">
        <section class="panel">
            <header class="panel-heading tab-bg-dark-navy-blue " style="background-color:#6DBB4A ">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a class="fa fa-archive" data-toggle="tab" href="#reg"> {{ _('Registry') }}</a>
                    </li>
                    <li class="">
                        <a class="fa fa-file-text-o" data-toggle="tab" href="#ass"> {{ _('Assesstment') }}</a>
                    </li>
                    <li class="">
                        <a id="byC" class="fa fa-signal" data-toggle="tab" href="#byCol"> {{ _('Edit by column') }}</a>
                    </li>
                </ul>
            </header>


            <div class="panel-body">

                <div class="tab-content">

                    <div id="reg" class="tab-pane active">

                        <!----->

                        <div class="row">
                            <div class="col-sm-12">
                                <section class="panel">
                                    <header class="panel-heading">
                                        DataTables hidden row details example
                                    </header>
                                    <div class="panel-body">
                                        <div class="adv-table">
                                            <table class="display table table-bordered" id="hidden-table-info">
                                                <thead>
                                                <tr>
                                                    <th>{{ _('Survey ID') }}</th>
                                                    <th>{{ _('Origin ID') }}</th>


                                                </tr>
                                                </thead>
                                                <tbody>
                                                {%for c in fill_table('www')%}
                                                <tr class="gradeX">
                                                    <td class="center"
                                                        onclick="run('{{fill_table_content('www', c[1], 'csa')}}','{{ request.static_url('climmob3:static/') }}')">
                                                        <img src="{{ request.static_url('climmob3:static/img/details_open.png' ) }}">


                                                    </td>
                                                    <td>{{c[1]}}</td>
                                                    <td>{{c[0]}}</td>
                                                </tr>
                                                {%endfor%}

                                                </tbody>
                                            </table>

                                        </div>
                                    </div>
                                    <div style="text-align:center">
                                        <button type="button" class="btn btn-primary "><i class="fa fa-save"></i> {{
                                            _('Save') }}
                                        </button>
                                        <button type="button" class="btn btn-danger "><i class="fa fa-times"></i> {{
                                            _('Cancel') }}
                                        </button>
                                    </div>
                                </section>

                            </div>
                        </div>


                        <!-------->

                    </div>
                    <div id="ass" class="tab-pane">
                        Assesstment edit
                    </div>


                    <div id="byCol" class="tab-pane">
                        {%if not dataworking.data %}

                        <div class="col-lg-6 ">

                            <header class="panel-heading " style="background-color: #286090">
                                <b style="color: #ffffff">{{ _('Registry') }}</b>
                            </header>


                            <div class="panel-body "
                                 style=" border-style: solid;border-width: 1px; border-color: #286090">
                                {%if dataworking.error%}
                                <div class="alert alert-block alert-danger fade in">
                                    <button data-dismiss="alert" class="close close-sm" type="button">
                                        <i class="fa fa-times"></i>
                                    </button>
                                    <strong>{{ _('Error:') }}</strong> {{_('You must select an option') }}
                                </div>
                                {%endif%}
                                <form name="editData" role="form" method="post" action="{{ request.path }}">



                                    <div id="reg_ch" class="checkboxes">
                                        {%for i in getNamesEditByColums('www')%}
                                        <div class="checkbox ">
                                            <label >
                                                <input name="q_reg" type="checkbox" value="{{i[0]}}$%*{{i[1]}}" id="q_reg">
                                                {{i[1]}}
                                            </label>
                                        </div>

                                        {%endfor%}
                                    </div>
                                    <button class="btn btn-success" type="submit" style="float: right;"
                                            name='btn_EditData' id='btn_EditData'>{{ _('Edit') }}
                                    </button>
                                </form>
                            </div>
                        </div>

                        <div class="col-lg-6 ">
                            <header class="panel-heading " style="background-color: #286090">
                                <b style="color: #ffffff">{{ _('Assesstment') }}</b>
                            </header>
                            <div class="panel-body "
                                 style=" border-style: solid;border-width: 1px; border-color: #286090">ND
                            </div>
                        </div>


                        <!--                 prueba tabla-->
                        <!--                 prueba tabla-->

                        {%else%}

                        <section class="panel" >
                            <header class="panel-heading">
                                Editable Table
                            </header>
                            <div class="panel-body" >
                                <div class="adv-table editable-table " >

                                    <div class="space15"></div>
                                    <form name="editTable" role="form" method="post" action="{{ request.path }}">
                                        {{dataworking.fill|safe}}


                                        <div style="text-align:center">
                                            <button type="button" class="btn btn-primary "><i class="fa fa-save"></i> {{
                                                _('Save') }}
                                            </button>
                                            <button type="button" id = "btnCancel_By_Col_C" name="btnCancel_By_Col_C" class="btn btn-danger "></i> {{
                                                _('Cancel') }}
                                            </button>
                                        </div>


                                         <div class="modal fade" id="modalMessage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                              <div class="modal-dialog">
                                                  <div class="modal-content">
                                                      <div class="modal-header">
                                                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                          <h4 class="modal-title">Modal Tittle</h4>
                                                      </div>
                                                      <div class="modal-body">

                                                          Desea guardar los cambios

                                                      </div>
                                                      <div class="modal-footer">
                                                          <button name = "btnExit" class="btn btn-default" type="submit">{{ _('Exit') }}</button>

                                                          <button name = "btnSaveAndExit" class="btn btn-success" type="submit">{{ _('Save and exit') }}</button>


                                                      </div>
                                                  </div>
                                              </div>
                                          </div>

                                    </form>
                                </div>

                            </div>


                        </section>

                        {%endif%}


                        <!--    end prueba -->

                    </div>


                </div>
            </div>
        </section>

    </div>
</div>


<!-- page end-->


{%- endblock page_content %}



