{% extends "../page.html" %}

{%- block leftside_menu %}

    {% if activeUser %}
        {% snippet 'snippets/navbar.html', request=request, active="Projects" %}
    {% endif %}
{% endblock leftside_menu -%}

{%- block page_content %}

    {% snippet 'snippets/snippet_projectcountries.html', request=request, newcountryproject = projectCountries.newcountryproject, contactcountryEdited=projectCountries.contactcountryEdited, projectcountryDelete=projectCountries.projectcountryDelete, dataworking=projectCountries.dataworking, error_summary=projectCountries.error_summary, Countries=projectCountries.Countries, PrjCnty= projectCountries.PrjCnty,projectid= projectCountries.projectid, currentLoc= 'projectcountries' %}

{%- endblock page_content %}