{% extends "../page.html" %}

{%- block leftside_menu %}

    {% if activeUser %}
        {% snippet 'snippets/navbar.html', request=request, active="Projects" %}
    {% endif %}
{% endblock leftside_menu -%}

{%- block page_content %}

    {% snippet 'snippets/snippet_projectenumerator.html', request=request, dataworking=projectenumerator.dataworking, dltenumerator=projectenumerator.dltenumerator, mdfenumerator=projectenumerator.mdfenumerator, newenumerator=projectenumerator.newenumerator, error_summaryenumerator=projectenumerator.error_summaryenumerator, searchEnumerator=projectenumerator.searchEnumerator, projectid= projectenumerator.projectid, currentLoc= 'projectenumerators' %}

{%- endblock page_content %}