{% extends "../page.html" %}

{%- block leftside_menu %}
    {% if activeUser %}
        {% snippet 'snippets/navbar.html', request=request, active="Projects" %}
    {% endif %}
{% endblock leftside_menu -%}

{%- block page_content %}

    {% snippet 'snippets/snippet_projecttechnologiesalias.html', request=request, dataworking=projecttechnologiesalias.dataworking, error_summaryaddextra=projecttechnologiesalias.error_summaryaddextra, dltAliasTechnologyProject=projecttechnologiesalias.dltAliasTechnologyProject, error_summarydlt=projecttechnologiesalias.error_summarydlt, newAliasTechnologyProject=projecttechnologiesalias.newAliasTechnologyProject, error_summaryadd=projecttechnologiesalias.error_summaryadd, AliasTechnology=projecttechnologiesalias.AliasTechnology, AliasTechnologyInProject=projecttechnologiesalias.AliasTechnologyInProject, AliasExtraTechnologyInProject=projecttechnologiesalias.AliasExtraTechnologyInProject, projectid=projecttechnologiesalias.projectid, techid = projecttechnologiesalias.techid, currentLoc= 'projecttechnologiesalias' %}

{%- endblock page_content %}