{% extends "../page.html" %}

{%- block leftside_menu %}
    {% if activeUser %}
          {% snippet 'snippets/navbar.html', request=request, active="Projects" %}
    {% endif %}
{% endblock leftside_menu -%}

{%- block page_content %}

    <div class="row">
        <div class="col-lg-12 " >
            <header class="panel-heading " style="background-color: #ec971f">
                <b style="color: #ffffff">{{ _('MANTENANCE OF ALIAS TECHNOLOGIES USED IN THE PROJECT HAS') }}</b>
            </header>
            <div class="panel-body " style="background-color: #ccc" >
                <div class="row">

                      <div class="col-lg-4">
                          <section class="panel tasks-widget">
                              <header class="panel-heading" style="background-color: #449d44;">
                                  <b style="color: #ffffff">{{ _('Alias technologies included') }}</b>
                              </header>
                              <div class="panel-body">
                                  {% if newAliasTechnologyProject == True %}
                                      <div class="alert alert-success fade in">
                                          <button data-dismiss="alert" class="close close-sm" type="button">
                                            <i class="fa fa-times"></i>
                                          </button>
                                          <strong>{{ _('Success!') }}</strong> {{ _('Alias technology successfully added.') }}
                                      </div>
                                  {% endif %}

                                  {%  if error_summaryadd %}
                                       {% for key, error in error_summaryadd.items() %}
                                            <div class="alert alert-block alert-danger fade in" id="loginErrorMessage">
                                                <button id="{{ key }}" data-dismiss="alert" class="close close-sm" type="button">
                                                    <i class="fa fa-times"></i>
                                                </button>
                                                <strong>{{ _("Error!") }}</strong> {{ error }}.
                                            </div>
                                       {% endfor %}
                                  {% endif %}
                                  <button id="addnewaliastechnology" class="btn btn-success" onclick="showAddAlias()">
                                          {{ _('Add new alias') }} <i class="fa fa-plus"></i>
                                  </button><br><br>
                                  <div class="task-content">
                                      <ul id="sortable_technologiesalias_included" class="task-list varas ui-sortable ">
                                          {% for alias in AliasTechnologyInProject %}

                                              {% if alias['Prjalia'].user_name == 'bioversity' %}
                                                  {% set name_class = 'list-climmob' %}
                                                  {% set name_bg = 'bg-climmob' %}
                                              {% else %}
                                                  {% set name_class = 'list-usuario' %}
                                                  {% set name_bg = 'bg-usuario' %}
                                              {% endif %}

                                              <li class="{{ name_class }}" id="element_{{ alias['Prjalia'].alias_id }}_exist">
                                                  <i class="fa fa-exchange"></i>
                                                  <div class="task-title">
                                                      <span class="task-title-sp"> <b>{{ alias['Techalia'].alias_name }}</b></span>
                                                      <div class="pull-right ">
                                                        <span class="badge {{ name_bg }} fa fa-check-square-o" > {{ _('Technology') }}</span>
                                                      </div>
                                                  </div>
                                              </li>


                                          {% endfor %}

                                      </ul>

                                      <ul id="sortable_technologiesalias_extra" class="task-list ui-sortable ">
                                          {% for aliasextra in AliasExtraTechnologyInProject %}


                                              {% set name_class = 'list-new' %}
                                              {% set name_bg = 'bg-new' %}


                                              <li class="{{ name_class }}" id="element_{{ aliasextra.alias_id }}_exist">
                                                  <i class="fa fa-lock"></i>
                                                  <div class="task-title">
                                                      <span class="task-title-sp"> <b>{{ aliasextra.alias_name }}</b></span>
                                                      <div class="pull-right ">
                                                        <span class="badge {{ name_bg }} fa fa-check-square-o" > {{ _('Technology') }}</span>
                                                      </div>
                                                  </div>
                                              </li>


                                          {% endfor %}
                                      </ul>
                                  </div>
                                  <div class="modal-footer">
                                      <form class="form-horizontal" role="form" method="post" action="{{ request.path }}">
                                        <input type="text" id="txt_technologiesalias_included" name="txt_technologiesalias_included" style="width: 100%;display:none">
                                        <br>
                                        <input type="text" id="txt_technologiesalias_excluded" name="txt_technologiesalias_excluded" style="width: 100%; display: none ">
                                        <button data-dismiss="modal" class="btn btn-default" name="btn_cancel" type="submit">{{ _('Cancel') }}</button>
                                        <button class="btn btn-success" type="submit" name="btn_save_technologies_alias"> {{ _('Save') }}</button>
                                      </form>
                                </div>
                              </div>
                          </section>
                      </div>

                      <div class="col-lg-4">
                          <section class="panel tasks-widget">
                              <header class="panel-heading modal-header-delete">
                                  <b style="color: #ffffff">{{ _('Alias available technologies') }}</b>
                              </header>
                              <div class="panel-body">
                                  {% if dltAliasTechnologyProject == True %}
                                      <div class="alert alert-success fade in">
                                          <button data-dismiss="alert" class="close close-sm" type="button">
                                            <i class="fa fa-times"></i>
                                          </button>
                                          <strong>{{ _('Success!') }}</strong> {{ _('Alias successfully removed.') }}
                                      </div>
                                  {% endif %}

                                  {%  if error_summarydlt %}
                                       {% for key, error in error_summarydlt.items() %}
                                            <div class="alert alert-block alert-danger fade in" id="loginErrorMessage">
                                                <button id="{{ key }}" data-dismiss="alert" class="close close-sm" type="button">
                                                    <i class="fa fa-times"></i>
                                                </button>
                                                <strong>{{ _("Error!") }}</strong> {{ error }}.
                                            </div>
                                       {% endfor %}
                                  {% endif %}
                                  <div class="task-content">
                                      <ul id="sortable_technologiesalias_excluded" class="task-list varas ui-sortable">
                                          {% for aliastechnologies in AliasTechnology %}
                                              {% if aliastechnologies['Technology'].user_name == 'bioversity' %}
                                                  {% set name_class = 'list-climmob' %}
                                                  {% set name_bg = 'bg-climmob' %}
                                              {% else %}
                                                  {% set name_class = 'list-usuario' %}
                                                  {% set name_bg = 'bg-usuario' %}
                                              {% endif %}

                                              <li class="{{ name_class }}" id="element_{{ aliastechnologies['Techalia'].alias_id }}_new">
                                                  <i class="fa fa-exchange"></i>
                                                  <div class="task-title">
                                                      <span class="task-title-sp"> <b>{{ aliastechnologies['Techalia'].alias_name }}</b></span>
                                                      <div class="pull-right ">
                                                        <span class="badge {{ name_bg }} fa fa-pagelines"> {{ _('Technology') }}</span>
                                                      </div>
                                                  </div>
                                              </li>


                                          {% endfor %}



                                      </ul>
                                  </div>
                                  <div class=" add-task-row">

                                  </div>
                              </div>
                          </section>
                      </div>
                </div>
            </div>
        </div>
    </div>


        <div class="modal fade" id="AddTechnologyAliasExtra" tabindex="-1" role="dialog" aria-labelledby="AddTecnologyAliasExtraLabel" aria-hidden="true">
            <form class="form-horizontal" role="form" method="post" action="{{ request.path }}">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header modal-header-success">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">{{ _('New Alias') }}</h4>
                        </div>
                        <div class="modal-body">

                            {{ _('Alias name') }} <input type="text" class="form-control"  value="" id="txt_add_alias" name="txt_add_alias" placeholder=" ">
                            <div class="modal-footer">
                                <button data-dismiss="modal" class="btn btn-default" type="button">{{ _('Cancel') }}</button>
                                <button class="btn btn-success" type="submit" name="btn_add_alias"> {{ _('Add') }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        {%if error_summaryaddextra %}

            <div class="modal fade" id="AddTechnologyAliasExtraE" tabindex="-1" role="dialog" aria-labelledby="AddTecnologyAliasExtraLabelE" aria-hidden="true">
                <form class="form-horizontal" role="form" method="post" action="{{ request.path }}">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header modal-header-success">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">{{ _('New Alias') }}</h4>
                            </div>
                            <div class="modal-body">
                                {%  if error_summaryaddextra %}
                                    {% for key, error in error_summaryaddextra.items() %}
                                        <div class="alert alert-block alert-danger fade in" id="loginErrorMessage">
                                            <button id="{{ key }}" data-dismiss="alert" class="close close-sm" type="button">
                                                <i class="fa fa-times"></i>
                                            </button>
                                            <strong>{{ _("Error!") }}</strong> {{ error }}.
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                {{ _('Alias name') }} <input type="text" class="form-control"  value="" id="txt_add_alias" name="txt_add_alias" placeholder=" " value="{{ dataworking['alias_name'] }}">
                                <div class="modal-footer">
                                    <button data-dismiss="modal" class="btn btn-default" type="button">{{ _('Cancel') }}</button>
                                    <button class="btn btn-success" type="submit" name="btn_add_alias"> {{ _('Add') }}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        {% endif %}

{%- endblock page_content %}