{% extends "../page.html" %}

{%- block leftside_menu %}
    {% if activeUser %}
          {% snippet 'snippets/navbar.html', request=request, active="Dash" %}
    {% endif %}
{% endblock leftside_menu -%}

{%- block page_content %}

    <div class="row">
        <div class="col-lg-12 ">

            <header class="panel-heading " style="background-color: #41cac0">
                <b>Información personal:</b>
            </header>
            <div class="panel-body " style="background-color: #e6e6e6">
            <div class="row">
                  <div class="col-md-6">
                      <section class="panel tasks-widget">
                          <header class="panel-heading">
                              Totamdos en cuenta:
                          </header>
                          <div class="panel-body">
                              <div class="task-content">
                                  <ul id="sortable_titulares" class="task-list ui-sortable ">
                                      <li class="list-primary" id="elemento1">
                                          <i class=" fa fa-exchange"></i>
                                          <div class="task-title">
                                              <span class="task-title-sp"> <b>Dirección:</b><br> Localización exacta de la casa del productor </span>
                                                <br>
                                              <div class="pull-right ">
                                              <span class="badge bg-info">Text</span>
                                              </div>
                                          </div>
                                      </li>

                                      <li class="list-primary" id="elemento2">
                                          <i class=" fa fa-exchange"></i>
                                          <div class="task-title">
                                              <span class="task-title-sp"> <b>Nombre completo:</b><br> Debe de indicar el nombre del producto de manera completa tal cúal esta en su documento de identidad. </span>
                                                <br>
                                              <div class="pull-right ">
                                              <span class="badge bg-info">Text</span>
                                              </div>
                                          </div>
                                      </li>

                                  </ul>
                              </div>
                              <div class=" add-task-row">
                              </div>
                          </div>
                      </section>
                  </div>

                  <div class="col-md-6">
                      <section class="panel tasks-widget">
                          <header class="panel-heading">
                              Excluidos del proyecto:
                          </header>
                          <div class="panel-body">
                              <div class="task-content">
                                  <ul id="sortable_banca" class="task-list ui-sortable">
                                      <li class="list-primary" id="elemento3">
                                          <i class="fa fa-exchange"></i>
                                          <div class="task-title">
                                              <span class="task-title-sp"> <b>Identificación:</b><br> Escribir la cédula de identidad de la persona, tal cúal aparece en su documento oficial. </span>
                                                <br>
                                              <div class="pull-right ">
                                              <span class="badge bg-info">Text</span>
                                              </div>
                                          </div>
                                      </li>

                                      <li class="list-primary" id="elemento4">
                                          <i class="fa fa-exchange"></i>
                                          <div class="task-title">
                                              <span class="task-title-sp"> <b>Genero:</b><br> Indicar genero del productor. </span>
                                                <br>
                                              <div class="pull-right ">
                                              <span class="badge bg-info">Seleccionar una</span>
                                              </div>
                                          </div>
                                      </li>

                                  </ul>
                              </div>
                              <div class=" add-task-row">
                              </div>
                          </div>
                      </section>
                  </div>
            </div>
                </div>
        </div>
    </div>
    <div id="resultado"></div>

{%- endblock page_content %}