{% extends "../page.html" %}

{%- block leftside_menu %}
{%- endblock leftside_menu %}

{%- block page_content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Terms of Service and Privacy Policy</h1>
            <ul>
                <li>- Climmob stores information about your feeds, model parameters and results</li>
                <li>- All model results are public</li>
                <li>- All outputs of Climmob are licenced under Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International (CC BY-NC-SA 4.0)</li>
            </ul>
        </div>
    </div>
</div>
{%- endblock page_content %}